@import "tailwindcss";

html,
body {
    height: 100%;
}


.jetbrains-mono {
    font-family: var(--font-jetbrains-mono), monospace;
}

.modak-regular {
    font-family: var(--font-modak), cursive;
}

.rubik-bubbles {
    font-family: var(--font-rubik-bubbles), cursive;
}

.sue-ellen-francisco {
    font-family: var(--font-sue-ellen), cursive;
}

button:hover {
    cursor: pointer;
}